# data files
data/

# config files
src/rl_sde_is/config.py

# notebooks
notebooks/

# output 
output/

# pyenv version file
.python-version

# virtual environment
venv/

# egg info files
*.egg-info

# python compilation files
*.pyc

# state files
*.swp

# pycharm idea
.idea/
